<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--  <head>-->
<!--    <title>Bootstrap Example</title>-->
<!--    <meta charset="utf-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/claim.css') }}">-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">-->
<!--    <script src="{{ url_for('static',filename='scripts/claim.js') }}"></script>-->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>-->
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/jquery-sortablejs@latest/jquery-sortable.js"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>-->
<!--  </head>-->
<!--  <body>-->
<!--    <nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--      <a class="navbar-brand" href="/">HR's Toolbox</a>-->
<!--      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">-->
<!--        <span class="navbar-toggler-icon"></span>-->
<!--      </button>-->
<!--      <div class="collapse navbar-collapse" id="navbarNav">-->
<!--        <ul class="navbar-nav">-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link active" href="#">Submit Claims </a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="#">Job Applications </a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="#">Employee FAQs </a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="#">Virtual Tour </a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </nav>-->

<!--    <div>-->
<!--      <ul id="items">-->
<!--        {% for data in data %}-->
<!--        <li>{{ data }}</li>-->
<!--        {% endfor %}-->
<!--      </ul>-->
<!--    </div>-->
<!--  </body>-->
<!--</html>-->

<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>HTML5 Sortable jQuery Plugin</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


        <link href="{{ url_for('static',filename='styles/claim.css') }}" rel="stylesheet" type="text/css">
        <link href="http://www.jqueryscript.net/css/top.css" rel="stylesheet" type="text/css">
        <link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="/">HR's Toolbox</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/claim">Submit Claims </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Job Applications </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Employee FAQs </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Virtual Tour </a>
              </li>
            </ul>
          </div>
        </nav>
        <section id="connected">
            <div class="d-flex justify-content-center text-center">
                <div class="">
                    <div>
                        <h1>Submitted Claims</h1>
                    </div>
                    <div class="container">
                        <div class="connected list">
                            {% for data in data %}
                                {% if data[6] == 0 %}
                                    <div class="card border-danger mb-3" style="max-width: 20rem;">
                                      <div class="card-header">Claim id: {{ data[0] }}</div>
                                      <div class="card-body text-danger">
                                        <h5 class="card-title">Employee Name: {{ data[2] }}</h5>
                                        <p class="card-text">Employee ID: {{ data[1] }}</p>
                                        <p class="card-text">Price: ${{ data[3] }}</p>
                                        <p class="card-text">Filename: {{ data[4] }}</p>
                                        <p class="card-text">Datetime uploaded: {{ data[5] }}</p>
                                      </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="">
                    <h1>Reimbursed Claims</h1>
                    <div class="container">
                        <div class="connected list no2">
                            {% for data in data %}
                                {% if data[6] == 1 %}
                                    <p class="highlight data">{{ data }}</p>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="{{ url_for('static',filename='scripts/jquery.sortable.js') }}"></script>
        <script src="{{ url_for('static',filename='scripts/claim.js') }}"></script>
    </body>
</html>